.wrapper {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content {
    display: flex;
    width: 1440px;
    flex-direction: column;
}

.page-header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
}

.nav-content {
    display: flex;
    width: 30%;
    height: 100%;
}

.nav-content>h3 {
    font-size: 24px;
    line-height: 70px;
}

.sorting-container {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    line-height: 70px;
    font-size: 20px;
}

.sorting-container>#sorting {
    font-size: 20px;
    width: 300px;
    height: 40px;
    align-self: center;
    padding-left: 16px;
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.top-panel {
    margin-top: 22px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 140px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.top-panel>p {
    margin: 0;
    margin-left: 4px;
}

.top-panel>select {
    border: none;
    outline: none;
}

.column-items {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 430px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.item {
    display: flex;
}

.item>.item-details {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item>.item-details>p {
    font-size: 16px;
    margin: 0;
}

.item>.item-details>.price {
    font-weight: 700;
}

.item>img {
    height: 60px;
    width: 80px;
    align-self: center;
}

.mini-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 576px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 40px;
}

.mini-blog-container>.mini-blogs {
    display: flex;
    width: 90%;
    font-size: 16px;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.mini-blog-container>.mini-blogs>img {
    width: 80px;
    height: 80px;
}

.mini-blog-container>.mini-blogs:hover {
    transform: scale(1.1);
}

.items-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    align-content: flex-start;
}

.items-container>.card-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.items-container>.card-items:hover {
    transform: scale(1.1);
}

.items-container>.card-items>.card-items-content {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.items-container>.card-items>.card-items-content>h5,
.items-container>.card-items>.card-items-content>a {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color: black;
}

.items-container>.card-items>.card-items-content>p {
    font-size: 16px;
    margin: 0;
    color: #C89979;
}

.items-container>.card-items>.card-items-content>button {
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #C89979;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.items-container>.card-items>.card-items-content>button:hover {
    background-color: #C89979;
    opacity: 0.8;
    transform: scale(1.1);
}

.items-container>.card-items>.card-items-content>button:active {
    background-color: #C89979;
    transform: scale(0.9);
}